*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Gothic A1', sans-serif;
}

header{
    position: absolute;
    width: 100%;
    z-index: 2;
}


.container{
    max-width: 1200px;
    margin: auto;
}

.container.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: inline-block;
    padding-top: 29px;
}

.flex{
    display: flex;
    list-style-type: none;
    text-align: right;
}

header nav, li a{
    display: flex;
    font-size: 16px;
    color: black;
    text-decoration:none;
    padding-top: 15px;
    margin-right: 30px;
}

.section{
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
    background-size: cover;
    padding-top:120px;
}

.title{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    display: flex;
    position: relative;
    min-height: 800px;
}

.get{
    background: #FC0A7E;
    border-radius: 3px;
    padding: 20px 40px 20px 40px;
    font-size: 23px;
    text-decoration: none;
    color: white;
}

.mt-1{
    margin-top: 79px;
}


.text{
    margin-top: 190px;
    font-family: 'Gothic A1', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
}

.text-1{
    width:100%;
    margin-top: 10px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: white;
}

.indent{
    margin-top: 30px;
    position: absolute;
    margin-left: 630px;
}

.position{
    position: absolute;
}

.text-2{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: white;
}

.combined{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

}

.section2{
    background-color: #1B1B1B;
    text-align: center;
    padding-top: 100px;
}

.text-3{
    font-family: 'Gothic A1';
    font-size: 12px;
    line-height: 20px;
    color: #A8A8A8;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.text-4{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: white;
    margin-top: 30px;
}

.w65{
    width: 100%;
}

.section3{
    padding-top: 180px;
    padding-bottom: 159px;
}

.box{
    display: flex;
    max-width: 842px;
    margin: auto;
}

.text1{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
    margin-top: 88px;
}

.text2{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: #000000;
    margin-top: 30px;
}


.text3{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
    margin-top: 22px;
}

.ml{
    margin-left: 199px;
}

.img-1{
    margin-top: 160px;
}

.ml1{
    margin-top: 288px;
    margin-left: 144px;
}

.text4{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #A8A8A8;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.text5{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: #000000;
    margin-top: 25px;
}


.text6{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
    margin-top: 27px;
}

.text1-1{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #A8A8A8;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 283px;
}

.text1-2{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: #000000;
    margin-top: 30px;
}

.text1-3{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
    margin-top: 22px;
}

.img2{
    margin-top: 160px;
    margin-left: 195px;
}

.section4{
    padding-top: 59px;
    padding-bottom: 83px;
}

.centre{
    text-align: center;
}

.burger{
    margin-bottom: 40px;
    display: inline-block;
}

.subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Gothic A1';
    margin-bottom: 17px;
}

.text2-1{
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gothic A1';
    color: rgba(107, 107, 107, 1);
    max-width: 371px;
    margin-right: 61px;
}

.number{
    padding-top: 80px;
    padding-bottom: 120px;
}

.box-1{
    display: flex;
    justify-content: space-between;
}

.numbers{
    font-family: 'Gothic A1';
    font-weight: 400;
    line-height: 90px;
    font-size: 59px;
}
.subtitle_1{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Gothic A1';
}

.section5{
    padding-top: 70px;
    padding-bottom: 62px;
}

.text3-1{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Gothic A1';
    color: rgba(168, 168, 168, 1);
    margin-bottom: 30px;
    margin-top: 17px;
}

.text3-2{
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    font-family: 'Gothic A1';
    margin-bottom: 27px;
}

.text3-3{
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gothic A1';
    color: rgba(107, 107, 107, 1);
    max-width: 371px;
    margin-right: 61px;
}

.burgers{
    margin-bottom: 167px;
}
.cheeps{
    margin-right: 77px;
}

.box-2{
    display: flex;
    justify-content: center;
}

.section1-1{
    padding-top: 80px;
    padding-bottom: 142px;
}

.quotes{
    text-align: center;
    margin: 0;
}

.quotes_1{
    margin-bottom: 65px;
}

.text4-1{
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Gothic A1';
    color: rgba(107, 107, 107, 1);
    margin: auto;
    padding-bottom: 17px;
    text-align: center;
    max-width: 700px;
}

.text4-2{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Gothic A1';
    margin-right: 20px;
    color: rgba(107, 107, 107, 1);
}

.box1-1{
    display: flex;
    justify-content: center;
}

.stripe{
    padding-right: 20px;
    max-width: 30px ;
}

.center{
    margin-top: 142px;
    text-align: center;
}

.max{
    max-width: 100%;
    margin-top: 118px;
}
.background{
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
    background-size: cover;
    padding-top: 165px;
    padding-bottom: 156px;
}

.backimage{
    background-image: url('../Images/phones.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.pb{
    margin-bottom: 588px;
}

.ready{
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    font-family: 'Gothic A1';
    margin-bottom: 27px;
    color: white;
}

.t-a{
    text-align: center;
}

.btn{
    padding: 20px 40px;
    background: #FC0A7E;
    border-radius: 3px;
    text-decoration: none;
    list-style-type: none;
    color: rgba(255, 255, 255, 1);
}
.btn:hover{
    background: lightgoldenrodyellow;
    color: black;
}

.frame{
    color: white;
    size: 16px;
    line-height: 26px;
    font-family: 'Gothic A1';
    font-weight: 400;
    text-decoration: none;
    padding: 20px 40px;
    border: 1px solid #B04BB3;
    box-sizing: border-box;
}
.frame:hover{
    background: lightgoldenrodyellow;
    color: black;
}

.background_black{
    background: #1B1B1B;
    background-size: cover;
}

.updates{
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    font-family: 'Gothic A1';
    margin-bottom: 27px;
    color: white;
    padding-top: 127px;
    padding-bottom: 20px;
}
.updates_2{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Gothic A1';
    color: white;
    padding-bottom: 40px;
}

.form{
    display: flex;
    justify-content: center;
}
.email{
    padding: 22px 155px 22px 3px;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 0 #FC0A7E;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Gothic A1';
    color: rgba(28, 28, 28, 1);
}
.button{
    padding: 22px 29px;
    background: #FC0A7E;
    border-radius: 0 3px 3px 0;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Gothic A1';
}
button:hover{
    background: darkgreen;
    color: #B04BB3;
}
.radius{
    margin-top: 168px;
    margin-bottom: 29px;
}

.link{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(107, 107, 107, 1);
    text-decoration: none;
    padding-right: 30px;
}


.owl-dots{
    margin-top: 88px;
    bottom: 80px;
    width: 100%;
    text-align: center;
}

.owl-dot span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(34, 34, 34, 0.4);;

}


.owl-dot{
    display: inline-block;
    margin: 7px;
}

.owl-dot.active span{
    background-color: #222222;
}

.owl-dot:hover span{
    width: 15px;
    height: 15px;
    transition: 0.3s;
}



